body{
    font-family:'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;
    background-color:rgb(13, 17, 23);
    color:rgb(201, 209, 217);
    display:flex;
    justify-content:center;
    padding:50px;
}
.container{
    width: 100%;
    text-align: center;
}
.search-box{
    margin-bottom: 30px;
}
input{
    padding: 12px;
    width: 30%;
    border-radius: 6px;
    border: 1px solid rgb(48, 54, 61);
    background-color: rgb(1, 4, 9);
    color: white;
    outline: none;
}
button{
    padding: 12px 20px;
    border-radius: 6px;
    border: none;
    background-color: rgb(35, 134, 54);
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition:  all 0.2s;
}
button:hover{
    background-color: rgb(103, 152, 112);
}
#container2{
    display: flex;
    flex-direction:row;
    width:100%;
    align-items:flex-start;
    gap:20px;
}
#profile{
    width:30%;
    height:100%;
    position:sticky;
    top: 40px;
}
#reposit{
 width:70%;
 padding: 10px;
}
.profilecard{
    background-color:rgba(22, 27, 34, 0.8);
    backdrop-filter:blur(5px);
    border: 1px solid rgb(48, 54, 61);
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.5);
}
.profilecard h2{
    color:rgb(88, 166, 255);
}
#company{
    letter-spacing: 0.1rem;
}
.profilecard img{
    border-radius: 50%;
    border: 2px solid rgb(88, 166, 255);
    margin-bottom: 15px;
}
.repo-card{
    display: flex;
    justify-content: space-between;
    background: rgb(13, 17, 23);
    padding: 10px 15px;
    margin: 8px;
    border-radius: 6px;
    border: 1px solid rgb(48, 54, 61);
    text-align: left;
    overflow-x: auto;
}
.repo-card a{
    color: rgb(88, 166, 255);
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
    transition: all  ease 0.2s;
}
.repo-card a:hover {
    color: rgb(51, 102, 160);
}
.repo-card span{
    font-size: 0.9rem;
    color: rgb(139, 148, 158);
}
.repo-card p{
    text-align: center;
}
hr{
    border:none;
    border-top:0.7px solid rgba(255, 255, 255, 0.423);
}
#hor{
    border:none;
    border-top:2px solid white ;
}
@media screen and (max-width: 780px) {
input{
      width: 100%;
       margin-bottom: 10px;
    }
#container2{
    display: flex;
    flex-direction:column;
    width:100%;
    align-items:flex-start;
}
#profile{
    width:100%;
    height:100%;
    position:relative;
    top: 40px;
}
#reposit{
 width:100%;
 padding: 10px;
 height: auto;
}
}
